# Node modules
node_modules/

# Environment files
.env*

# MacOS files
.DS_Store

# IDE specific files
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Dev Configuration
/server/config/dev.config.json